@import url(https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap);

:root {
    --white-background: rgb(255, 255, 255);
    --shadow-soft: 0 6px 8px -6px rgba(0, 0, 0, 0.12);
    --font: 'Mulish', sans-serif;
    --main-font-weight: 700;
    --main-text-color: rgb(49, 49, 49);
    --light-text-color: rgb(188, 188, 188);
    --font-size-title: 14px;
    --font-weight-title: 500;
    --margin-bottom-title: 2px;
    --font-size-text: 13px;
    --font-size-brand: 24px;
    --font-weight-text: 400;
}

body {
    margin: 0;
    font-family: var(--font);
    color: var(--main-text-color);
    min-height: 100vh;
}

.custom-navbar {
    background-color: var(--white-background) !important;
    box-shadow: var(--shadow-soft);
}

.custom-navbar .navbar-brand {
    font-size: var(--font-size-brand);
    text-align: center;
    width: 100%;
    font-weight: var(--main-font-weight);
    color: var(--main-text-color);
}

.custom-tabs .nav-link {
    color: var(--light-text-color);
    border: 2px solid transparent;
    transition: 0.2s;
    font-weight: var(--main-font-weight);
}

.custom-tabs .nav-link.active {
    color: rgb(44, 44, 44);
}

.custom-tabs .nav-link:hover {
    border-color: rgb(159, 206, 252);
}

.custom-card {
    border-radius: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    padding: 10px;
}

.info-card {
    border: none;
}

.info-card .card-body {
    padding: 0;
}

.cluster-title-0 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    color: rgb(255, 163, 67);
    margin-bottom: var(--margin-bottom-title);
}

.cluster-title-1 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    color: rgb(0, 128, 0);
    margin-bottom: var(--margin-bottom-title);
}

.cluster-title-2 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    color: rgb(128, 0, 128);
    margin-bottom: var(--margin-bottom-title);
}

.cluster-title-3 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    color: rgb(66, 170, 255);
    margin-bottom: var(--margin-bottom-title);
}

.info-text {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-text);
    color: var(--main-text-color);
    line-height: 1.4;
    margin-bottom: 4px;
}
